
.title{
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}


#notifications{
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    position: relative;
}


#buttons .btn{
    margin: 0 0px 15px;
}


.be-social{
    padding-bottom: 20px;
/*     border-bottom: 1px solid #aaa; */
    margin: 0 auto 40px;
}

.logo-container .logo img{
    width: 100%;
}



#images h4{
    margin-bottom: 30px;
}
#javascriptComponents{
    padding-bottom: 0;
}
#javascriptComponents .btn-raised{
    margin: 10px 5px;
}



#navbar .navbar{
    border-radius: 0;
}

